// === Kolory ===
$text-color: #222222; //ciemnosiwy
$theme-color: #170a48; //ciemnoniebieski
$secondary-color: #f27731; //pomaranczowy
$third-color: #ccf962; //jasnobrazowy
$link-color: $secondary-color;
$menu-item-color: white;

// === czcionki ====
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: 'Titillium Web', Georgia, sans-serif;

// === rRozmiary ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
